.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.char {
  display: inline-block;
  transform: translateY(var(--y, 110%));
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: calc(0.04s * var(--char-index));
}

.board {
  width: 640px;
  height: 640px;
  background-color: rgb(6 192 37);
}

.cell {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 2px solid black;
}

.stone {
  width: 56px;
  height: 56px;
  background-color: black;
  border-radius: 56px;
}
